* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin:0;
    padding: 0;
  }

body{
    background: #042240;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

.banner {
    display: grid;
    /* fr : es una unidad de medida especial de CSS Grid para darle ancho o alto a filas y columnas.
    1fr representa una fracción del total de columnas o filas. */
    grid-template-columns: 2fr 3fr;
    grid-auto-rows: 400px;
    margin-top: 20px;
}

.banner-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.banner-info {
    align-self: center;
}

.banner-info h1{
    color: #EABE3F;
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 24px;
}

.banner-info p{
    color: white;
}

.banner-info h2{
    color: white;
    font-size: 1rem;
    margin-bottom: 24px;
}

.banner-info button{
    border: none;
    border-radius: 20px;
    color: white;
    background-color: #E5A65E;
    font-weight: bolder;
    padding: 12px 24px;
}

.players {
    margin: 80px 0;
}

.players-title {
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
    font-size: 3rem;
}

.players-grid {
    margin: 100px 0;
    display: grid;
    /* la funcion minmax, nos ayuda a declarar un tamaño minimo y maximo para las filas o columnas */
    /* auto-fit : ensancha las columnas para que ocupen todo el espacio del contenedor.
    Ayuda a la grilla a ocupar el 100% del espacio disponible */
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    grid-template-rows: repeat(2, minmax(150px, 1fr));
    grid-gap: 50px;
    justify-content: center;
}

.players-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* El contenido se escala para cubrir completamente el contenedor, manteniendo su proporción original */
    border-radius: 10px;
  }

.players-item_big {
    grid-area: 1/1/3/3;
}


.scaloneta-title {
    color: white;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    margin: 100px 0 50px 0;
  }
  
.escaloneta-grid {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-bottom: 100px;
}
  
.plates-image {
    margin: 0;
    background-color: #89CAF0;
    padding: 10px;
    border-top-right-radius: 30px;
}
  
.plates-image img {
    width: 100%;
    height: 100%;
    /* object-fit en CSS se utiliza para especificar cómo un elemento img o video 
    debe ajustarse dentro de su contenedor. 
    Es especialmente útil cuando el tamaño del contenedor difiere del tamaño intrínseco
     del elemento multimedia. */
    object-fit: contain;  /* El contenido se escala para que quepa completamente dentro del contenedor */
    border-top-right-radius: 30px;
}

/* Media queries TABLET */
@media screen and (max-width: 1024px) {
    .banner {
      grid-template-columns: 2fr 1fr;
      padding-bottom: 50px;
    }

    .banner-info {
      font-size: 2rem;
    }
    
    .players-title, .scaloneta-title {
      font-size: 2rem;
    }
    
    .players-grid, .escaloneta-grid {
      padding: 0px 20px;
    }
  
    .escaloneta-grid {
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
  }

  /* Media queries CELULAR */
  @media screen and (max-width: 768px) {
    .banner {
      grid-template-columns: 1fr;
      padding-bottom: 50px;
    }

    .banner-info p{
        font-size: 1.5rem;
    }

    .banner-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
  
    .banner-img{
      display: none;
    }
  
    .players-grid {
      grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
      grid-template-rows: repeat(2, minmax(135px, 1fr));
      grid-gap: 25px;
    }

    .players-grid, .escaloneta-grid {
      padding: 0px 20px;
    }
  }